@model IEnumerable<proj.Models.Librarian>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibrarianId)

        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ContactDetails)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>@item.LibrarianId</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.LibrarianId }) |
        @Html.ActionLink("Details", "Details", new { id = item.LibrarianId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.LibrarianId })
    </td>
</tr>
}

</table>
